html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
}

canvas{
    border: 1em solid #429dce;
    border-radius: 0.75em;
}